# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
out/

# Sensitive or high-churn files
.idea/dataSources.ids
.idea/dataSources.ids/
.idea/dataSources.ids.*
.idea/dataSources.ids.xml
.idea/**/dataSources.ids.xml
.idea/**/dataSources.ids.*
.idea/dataSources.local
.idea/dataSources.local/
.idea/dataSources.local.*
.idea/dataSources.local.xml
.idea/**/dataSources.local.xml
.idea/**/dataSources.local.*
.idea/dataSources
.idea/dataSources/
.idea/dataSources.*
.idea/dataSources.xml
.idea/**/dataSources.xml
.idea/**/dataSources.*
.idea/sqlDataSources
.idea/sqlDataSources/
.idea/sqlDataSources.*
.idea/sqlDataSources.xml
.idea/**/sqlDataSources.xml
.idea/**/sqlDataSources.*
.idea/dynamic
.idea/dynamic/
.idea/dynamic.*
.idea/dynamic.xml
.idea/**/dynamic.xml
.idea/**/dynamic.*
.idea/uiDesigner
.idea/uiDesigner/
.idea/uiDesigner.*
.idea/uiDesigner.xml
.idea/**/uiDesigner.xml
.idea/**/uiDesigner.*
.idea/dbnavigator
.idea/dbnavigator/
.idea/dbnavigator.*
.idea/dbnavigator.xml
.idea/**/dbnavigator.xml
.idea/**/dbnavigator.*
.idea/tasks
.idea/tasks/
.idea/tasks.*
.idea/tasks.xml
.idea/**/tasks.xml
.idea/**/tasks.*
.idea/statistics
.idea/statistics/
.idea/statistics.*
.idea/statistics.xml
.idea/**/statistics.xml
.idea/**/statistics.*
.idea/dictionaries
.idea/dictionaries/
.idea/dictionaries.*
.idea/dictionaries.xml
.idea/**/dictionaries.xml
.idea/**/dictionaries.*
.idea/shelf
.idea/shelf/
.idea/shelf.*
.idea/shelf.xml
.idea/**/shelf.xml
.idea/**/shelf.*
.idea/gradle
.idea/gradle/
.idea/gradle.*
.idea/gradle.xml
.idea/**/gradle.xml
.idea/**/gradle.*
.idea/libraries
.idea/libraries/
.idea/libraries.*
.idea/libraries.xml
.idea/**/libraries.xml
.idea/**/libraries.*
.idea/modules
.idea/modules/
.idea/modules.*
.idea/modules.xml
.idea/**/modules.xml
.idea/**/modules.*
.idea/vcs
.idea/vcs/
.idea/vcs.*
.idea/vcs.xml
.idea/**/vcs.xml
.idea/**/vcs.*
.idea/workspace
.idea/workspace/
.idea/workspace.*
.idea/workspace.xml
.idea/**/workspace.xml
.idea/**/workspace.*

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.metadata
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

# FVM
/.fvm/flutter_sdk

# Flutter specific
*.g.dart
*.m.dart
*.freezed.dart
*.config.dart